<!--Product-->
<div class="product">
  <!--Product Link-->
  <a   class="thumbnail" href="{{ product.url }}">
    {% if product.available %}
      {% if product.price_varies %}	
      {% else %}
        {% if product.compare_at_price > product.price %}
        {% else %}
        {% endif %}
      {% endif %}
    {% else %}
    {% endif %}
    <!--Product Img-->

    {% for media in product.media %}
      {% case media.media_type %}
        {% when 'video' %}
          <div  class="product-video">
                {{ media | video_tag:loop: true, autoplay: true, muted:true}}
          </div>
      {% endcase %}
    {% endfor %}
    
    <img class="lazy" src="{{ product.images[0] | product_img_url: 'thumb' }}" data-src="{{ product.images[0] | product_img_url: 'master' }}" alt="{{ product.title }}" />

    
  </a>
   	<div class="product-price-wrap"> 
    {% if product.available %}
      {% if product.price_varies %}
      {% else %}
     {% if product.compare_at_price > product.price %}
     <span class="special">ON SALE</span>
        {% else %}

        {% endif %}
      {% endif %}
    {% else %}
    {% endif %}

{% assign date_created = product.created_at | date:'%d' %}
{% assign     date_now = 'now' | date:'%d' %}
{% assign   difference = date_now | plus: date_created %}

{% if difference < 5 %}

{% endif %}
    </div>
 

  <div class="row">     
  <!--Product Title-->
    <div class="main-information">
      <div class="product-title">
      <a href="{{ product.url }}">{{ product.title}}</a>
      </div>
      <div class="product-price">

       {% if product.available %}
        {% if product.price_varies %}
          <span>{{ product.price_min | money }}</span> – <span>{{ product.price_max | money }}</span>    
        {% else %}
          {% if product.compare_at_price > product.price %}
          <s>{{ product.compare_at_price | money }}</s>
        <span class="red">{{ product.price | money }}</span>
          {% else %}
        <span>{{ product.price | money }}</span>

          {% endif %}
        {% endif %}
      {% else %}
        <span>{{ product.price | money }}</span>

      {% endif %}

      </div>
    </div>
  	
   	<div class="information">
	  <form id="product-actions" action="/cart/add" method="post" enctype="multipart/form-data"
                      {%- if product.has_only_default_variant -%}
                      class="product-simple"
                      {%- elsif variants > 1 -%}
                      class="product-variants"
                      {%- endif -%}>
                      <div id="bag-total" >
                        <div class="title">
                          <div id="product-price"></div>
                          
                                     {% if product.compare_at_price > product.price %}
                                        <span class="sale">ON SALE</span>
                                     {% else %}
                                     {% endif %}
                             {% if product.available %}
                                <button id="add-to-cart" {% unless product.available %}disabled{% endunless %} type="submit" name="add">ADD TO CART</button> 
                             {% else %}
                                 <div class="sold-out">OUT OF STOCK</div>        
                             {% endif %}
                           </div>
                         <div class="variations"> 
                           <!--Variations Dropdown-->
                           <select id="product-select" name="id">

                             {% for variant in product.variants %}

                             <option value="{{ variant.id }}">

                             </option>

                             {% endfor %}
                           </select>  


                         </div> 
        			</div>
        </form>
	</div>
    </div> 
    

</div>
  {%- if template contains 'product' or template contains 'collection' -%}
  {{ 'global-product.js' | asset_url | script_tag }}
{%- endif -%} 
{%- if template == 'product' or template contains 'collection' -%}
	{% render 'ajaxify-cart' %}  
{%- endif -%}{% render 'mws_apo_init' %}
<script>
  //Produt functions
  var selectCallback = function(variant, selector){
    if(variant){
      if(variant.available){   
        jQuery('#add-to-cart').prop('disabled', false).text('ADD TO CART');      
      }else{
        jQuery('#add-to-cart').prop('disabled', true).text('OUT OF STOCK');      
      }
      if( variant.compare_at_price > variant.price ) {
        {% if variant.price < variant.compare_at_price %} {{ variant.compare_at_price | money }}{% endif %}
        jQuery('#product-price').html(Shopify.formatMoney(variant.price, "<span>{{ shop.money_format }}</span>") + " <s>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</s>");
      }else{
        jQuery('#product-price').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }  
    }else{
      jQuery('#product-price').empty();
      jQuery('#add-to-cart').prop('disabled', true).text('ADD TO CART');
      {% if product.price_varies %}
        jQuery('#product-price').html('{{ product.price_min | money }} – {{ product.price_max | money }}' );
      {% else %}
        jQuery('#product-price').html('{{ product.price | money }}');
      {% endif %}                         
    }
  };
  //Replace default variant selector                                 
  jQuery(function($) {
    new Shopify.OptionSelectors('product-select', {
      product: {{ product | json }},
      onVariantSelected: selectCallback
    });  
    {% assign count = -1 %}                                    
    {% for option in product.options %}
    {% if product.options.first != 'Title' %}
      {% assign count = count | plus: 1 %}
      $("#product-select-option-{{ count }}").prepend("<option value='' disabled selected>{{ product.options[count] | upcase }}</option>");                        
    {% endif %}
    {% endfor %}
  });
          
</script>