{% if cart.item_count > 0 %}
  <form id="cart-wrapper" action="/cart" method="post">
    {% for item in cart.items %}

      <div class="item">
        <div class="thumb">
          <img class="lazy" src="{{ item | img_url: 'thumb' }}" data-src="{{ item | img_url: 'master' }}" alt="{{ item.title | escape }}" />
        </div>
          <div class="cart-title">
            <div class="sub"><span>{{ item.product.title }}</span>{{ item.price | money }}</div>
            <div class="sub"><span>SUBTOTAL</span>{{ item.line_price | money }}</div>
          </div>
        {% unless item.product.options contains 'Title' %}
          <!-- Variations -->
          <div class="item-variations">
            {%- for option_title in item.product.options -%}
            {{ item.variant.options[forloop.index0] }}{% unless forloop.last %}, {% endunless %}
            {%- endfor -%}
          </div>
        {% endunless %}
      </div>
    {% endfor %}
    <div class="total">
      <div class="item-title"><span>TOTAL</span> {{ cart.total_price | money }}</div>
      <input id="update-cart" type="submit" name="update" value="Update cart" style="display: none" />
      <button id="checkout" type="submit" name="checkout">
        PROCEED TO CHECK OUT
      </button>
      <div class="lil-info">Shipping will be calculated at CHECKOUT</div>
      <a href="/cart/clear" class="clear">
        REMOVE
      </a>
    </div>
  </form>
{% else %}    <!-- Empty Bag -->
  <div class="empty">your cart is currently empty</div>
{% endif %}
