<div id="main-collection" class="main">
{% assign blog_handles = "archive" | split: "," %}
<div class="all_products">
  {% for handle in blog_handles %}
       {% for article in blogs[handle].articles %}
            <div class="article">
               {% if article.image.size > 0 %}
               <!--Featured Image-->
               <a>
                    <img class="lazy" src="{{ article | img_url: 'thumb' }}" data-src="{{ article | img_url: 'master' }}" alt="{{ article.title }}" />
               </a>
               {% endif %}
               <!--title-->
              <div style="padding:10px 0px" class="title-article">
                  <div class="title" href="{{ article.url }}">{{ article.title }}</div>
                  <div class="info-article">{{ article.content }}</div>

              </div>
         </div>
           {% endfor %}
   {% endfor %}
  </div>
</div>
